

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

p{
    color:rgb(175, 175, 175);
}

h1, h2, h3{
    color: antiquewhite;
}

body{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(0, 0, 0);
}


.nav-bar{
    background-color: rgb(0, 0, 0);
}

.nav-bar ul{
    padding-top:20px;
    max-width: 100%;
    list-style: none;
    padding: 0;
}

.nav-bar ul li{
    display: inline;
}

.nav-bar ul li a{
    color: #FFF;
    padding: 23px;
    display: inline;
    text-decoration: none;
    transition: background .4s;
}

.nav-bar h2{
    color: #FFF;
    padding: 0px 220px 0px 0px;
    display: inline-block;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    background-color: #e60000;
}

.nav-bar ul li:last-child a {
    background-color: #e60000;
    transition: background .4s;
    padding:20px;
    border-radius: 10px;
}

.nav-bar ul li:last-child a:hover {
    background-color: #820505;
}

header{
    background-image: url('../img/fundo.png');
    background-size: cover;
    width:100%;
    height:650px;
}

.span6{
    position:relative;
    height:400px;
}

.topo{
    position:absolute;
    top:50%;
}

.span6 .btn-vermelho{
    padding-left:10px;
}

.btn-vermelho{
    border-radius:4px;
    padding:5%;
    color:#ffffff;
    background-color:#e60000;
    border:none;
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    transition: .4s;
    width:140px;
    height:40px;
    text-align: center;
}
    
.btn-vermelho:hover {
    color:#ffffff;
    background-color:#820505;
    text-decoration: none;
}

.btn-vazio{
    border-radius:4px;
    padding: 5%;
    color:#ffffff;
    background:transparent;
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    transition: .4s;
    width:140px;
    height:40px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #e60000;
    color: #e60000;
}
    
.btn-vazio:hover {
    color:#ffffff;
    background-color:#e60000;;
    text-decoration: none;
}

.sobremim{
    margin-top:150px;
    margin-bottom: 50px;
}

.image{
    width:550px;
    height:500px;
    float:left;
    border-radius:10px; 
}

.icon{
    background-color:#181414;
    width:250px;
    height:80px;
    display:inline-block;
    margin:15px;
    margin-left:0px;
    transition: background .4s;
}

.circulo i {
    padding-top:25px;
    color:white;
}

.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin: 15px;
    background-color: black;
    text-align: center;
}

.icon p{
    float:left;
    margin-top:20px;
}

.icon .fa-arrow-right {
    color: #e60000;
    float:right;
    margin: 35px;
}

.icon:hover{
    transform:10%;
}

.projetos img{
    width: 100%;
    height: 100%;
}

.projetos{
    margin-top:200px;
    text-align: center;
}

.projetos h2{
    text-align:center;
    margin-bottom: 50px;
}

.conhecimentos li{
    display:inline-block;
    transition: .4s;
}

.conhecimentos li:hover{
    transform: scale(1.1);
}

.projetos li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
}
.quadrado{
    background-color: #e60000;
    width:250px;
    height: 250px;
    margin:20px;
    vertical-align: top;
    display: inline-block;
    transition: .4s;
}

.quadrado:hover{
    transform: scale(1.1);
}

.contate{
    margin-top: 150px;
    margin-bottom: 130px;
    background-image: url('../img/image2.png');
    background-size: cover;
    width:100%;
    height:500px;
}
  
.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
  
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        120deg,
        transparent,
        var(--primary-color),
        transparent
      );
      transform: translateX(-100%);
      transition: 0.6s;
    }
  
    &:hover {
      background: transparent;
      box-shadow: 0 0 20px 10px #e60000;
      opacity: 0.5;
  
      &::before {
        transform: translateX(100%);
      }
    }
  }
  
  .form-input-material {
    --input-default-border-color: rgb(47, 1, 1);
    --input-border-bottom-color: rgb(47, 1, 1);
    
    input {
      color: rgb(47, 1, 1);
    }
  }
  
.contato-form {
    margin-top:50px;
    float:right;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: #350000;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
  
    h2   {
      margin: 0 0 24px 0;
    }
  
    .form-input-material {
      margin: 12px 0;
    }
  
    .btn {
      width: 100%;
      margin: 18px 0 9px 0;
   }
}
  
  

footer {
	background-color: #350000;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
    list-style: none; 
    text-decoration: none;
}

footer li{
    list-style: none; 
    text-decoration: none;
}
