@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2d2d2d;
}

h1{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
  text-align: center;
}

p, h2{
  margin:10px 0px 10px 0px;
  text-align: center;
  color:rgb(158, 157, 154);
}

form{
  position: absolute;
  width: 500px;
  background: #222;  
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}

.btn-enviar{
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 10px 10px;
  border-radius: 4px;
  transition: all 300ms ease-out;
}

.btn-enviar:hover{
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type='number']{
  display: flex;
  width: 100%;
  height:30px;
  font-size:20px;
  cursor: pointer;
  background: #333;
  color:rgb(158, 157, 154);
  border-radius: 4px;
  border: none;
  outline-color:#0f0;
  text-align: center;
}

.fa-arrow-left {
  text-decoration:none;
  color:#0f0;
  transition: all 300ms ease-out;
}

.result{
    color:#0f0;
}

.fa-arrow-left:hover {
  color:rgb(178, 5, 5);
}